<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <connectionStrings>

    <!--NOTEBOOK CHARLES--> 
    <add name="EntitiesModels" connectionString="data source=CHNOTEBOOK\CHSQL2012;initial catalog=UFSCarDw;persist security info=True;user id=sa;password=ch4rles6;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    

    <!-- NOTEBOOK IH -->
    <!--<add name="EntitiesModels" connectionString="data source=(localdb)\.\dbSharedLabs;initial catalog=UFSCarDw;persist security info=True;user id=usuario;password=Passw0rd!!@52;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <appSettings>
    <add key="DiretorioPadrao" value="C:\Temp\ArquivosTSE\" />
  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
